@import "../../../../scss/cardMixins.scss";

.cardContainer {
  @include standardCard;
}

.cardInnerContainer {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.suitDefault {
  font-size: 3rem;
}

.redSuit {
  color: red;
}

.blackSuit {
  color: black;
}
