.infoBanner {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoMessage {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}
